@{
  Layout = "_Layout";
}
@model Factory.Models.Machine
@using Factory.Models
<h1 class="text-5xl font-bold border-b pb-4 text-darkGrayishBlue">Machine <span
    class="text-brightRed">@Model.Name</span></h1>
<p class="text-2xl">Machine Description: @Html.DisplayFor(model => model.Description)</p>
<p class="text-2xl">Installment Date: @Model.InstallmentDate?.ToString("MM-dd-yyyy")</p>

<h4 class="text-2xl text-brightRed">Engineers Assigned</h4>
@if (@Model.EngineerMachines.Count == 0)
{
  <p class="text-lg text-darkGrayishBlue">This machine has no engineers assigned.</p>
}
else
{
  <table class="mx-auto shadow-inner text-center text-lg w-full">
    <thead>
      <tr>
        <th class="py-2 font-light">Engineer Name</th>
        <th class="font-light">Engineer Specialty Machine</th>
        <th class="font-light">Engineer Status</th>
        <th class="font-light">Manage Status</th>
        <th class="font-light">Delete Engineer</th>
      </tr>
    </thead>

    @foreach (EngineerMachine engineerMachine in Model.EngineerMachines)
    {

      <tr class="odd:bg-slate-50 hover:font-semibold">
        <td class="py-2">@engineerMachine.Engineer.Name</td>
        <td>@engineerMachine.Engineer.SpecialtyMachine</td>
        @if (engineerMachine.Engineer.Status == false)
        {
          <td>
            Available
          </td>
        }
        else if (engineerMachine.Engineer.Status == true)
        {
          <td>
            Busy
          </td>
        }
        <td>
          @using (Html.BeginForm("MachineStatus", "Machines", routeValues: new { id = engineerMachine.EngineerMachineId }))
          {
            @if (engineerMachine.Engineer.Status == false)
            {
              <input type="submit" value="Busy"
        class="px-3 py-1 text-sm shadow-md text-white rounded-full bg-brightRedLight font-semibold hover:text-black hover:bg-brightRedSuperLight focus:outline-none hover:cursor-pointer" />
            }
            else
            {
              <input type="submit" value="Available"
        class="px-3 py-1 text-sm shadow-md text-white rounded-full bg-brightRedLight font-semibold hover:text-black hover:bg-brightRedSuperLight focus:outline-none hover:cursor-pointer" />
            }
          }
        </td>
        <td>
          @using (Html.BeginForm("DeleteMachine", "Machines", routeValues: new { id = engineerMachine.EngineerMachineId }))
          {
            <input type="submit" value="Remove Engineer"
        class="px-3 py-1 text-sm shadow-md text-white rounded-full bg-brightRedLight font-semibold hover:text-black hover:bg-brightRedSuperLight focus:outline-none hover:cursor-pointer">
          }
        </td>
      </tr>
    }
  </table>
}
<div class="flex space-x-3">
  <p class="px-3 py-1 text-sm shadow-md text-white rounded-full bg-brightRedLight font-semibold hover:text-black hover:bg-brightRedSuperLight focus:outline-none">@Html.ActionLink("Add Engineer To Machine", "AddEngineer", new { id = @Model.MachineId })</p>
  <p class="px-3 py-1 text-sm shadow-md text-white rounded-full bg-brightRedLight font-semibold hover:text-black hover:bg-brightRedSuperLight focus:outline-none">@Html.ActionLink("Edit Machine", "Edit", new { id = @Model.MachineId})</p>
</div>