<nav class="flex items-center justify-between pb-10 pt-3 container mx-auto relative">
  <div class="pt-2">
    <img src="~/assets/images/logo.svg" alt="manage logo">
  </div>
  <div class="flex justify-center items-center md:justify-start space-x-4">
    <p class="px-3 py-1 text-sm shadow-md text-white rounded-full bg-brightRedLight font-semibold hover:text-black hover:bg-brightRedSuperLight focus:outline-none">@Html.ActionLink("Home", "Index", "Home")</p>
    <p class="px-3 py-1 text-sm shadow-md text-white rounded-full bg-brightRedLight font-semibold hover:text-black hover:bg-brightRedSuperLight focus:outline-none">@Html.ActionLink("Locations", "Index", "Locations")</p>
    <p class="px-3 py-1 text-sm shadow-md text-white rounded-full bg-brightRedLight font-semibold hover:text-black hover:bg-brightRedSuperLight focus:outline-none">@Html.ActionLink("Engineers", "Index", "Engineers")</p>
    <p class="px-3 py-1 text-sm shadow-md text-white rounded-full bg-brightRedLight font-semibold hover:text-black hover:bg-brightRedSuperLight focus:outline-none">@Html.ActionLink("Machines", "Index", "Machines")</p>
    @if (!User.Identity.IsAuthenticated)
    {
      <p class="px-3 py-1 text-sm shadow-md text-white rounded-full bg-brightRedLight font-semibold hover:text-black hover:bg-brightRedSuperLight focus:outline-none">@Html.ActionLink("Login", "Login", "Account")</p>
      <p class="px-3 py-1 text-sm shadow-md text-white rounded-full bg-brightRedLight font-semibold hover:text-black hover:bg-brightRedSuperLight focus:outline-none">@Html.ActionLink("Register", "Register", "Account")</p>
    }
    @if (User.Identity.IsAuthenticated)
    {
      <p class="px-3 py-1 text-sm shadow-md text-white rounded-full bg-brightRedLight font-semibold hover:text-black hover:bg-brightRedSuperLight focus:outline-none">@Html.ActionLink("Account", "Index", "Account")</p>
      @using (Html.BeginForm("LogOff", "Account"))
      {
        <input type="submit" value="Log out" class="px-3 py-1 text-sm shadow-md text-white rounded-full bg-brightRedLight font-semibold hover:text-black hover:bg-brightRedSuperLight focus:outline-none hover:cursor-pointer">
      }
    }
  </div>
</nav>