@{
  Layout = "_Layout";
}
@model Factory.Models.Location
@using Factory.Models
<h1 class="text-5xl font-bold border-b pb-4 text-darkGrayishBlue">Location <span class="text-brightRed">@Html.DisplayFor(model => model.Name)</span></h1>
<div class="flex w-1/2">
<table class="mx-auto shadow-inner text-center text-lg w-full">
    <thead>
      <tr>
        <th class="py-2 font-light">Engineers</th>
      </tr>
    </thead>
    <tbody>
        @if (@Model.Engineers.Count == 0)
        {
          <td>There are no engineers.</td>
        }
        else
        {
          @foreach (Engineer engineer in Model.Engineers)
          {
            <tr class="odd:bg-slate-50 hover:font-semibold">
              <td class="py-2">@Html.ActionLink(@engineer.Name, "Details", "Engineers", new { id = engineer.EngineerId})</td>
            </tr>
          }
        }
    </tbody>
  </table>
  <table class="mx-auto shadow-inner text-center capitalize text-lg w-full">
    <thead>
      <tr>
        <th class="py-2 font-light">Machines</th>
      </tr>
    </thead>
    <tbody>
      @if (@Model.Machines.Count == 0)
      {
        <td>There are no machines.</td>
      }
      else
      {
        @foreach (Machine machine in Model.Machines)
        {
          <tr class="odd:bg-slate-50 hover:font-semibold">
            <td class="py-2">@Html.ActionLink(@machine.Name, "Details", "Machines", new { id = machine.MachineId})</td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
<p class="px-3 py-1 text-sm shadow-md text-white rounded-full bg-brightRedLight font-semibold hover:text-black hover:bg-brightRedSuperLight focus:outline-none">@Html.ActionLink("Edit Location", "Edit", new { id = @Model.LocationId})</p>