@{
  Layout = "_Layout";
}
@using Factory.Models
<h1 class="text-5xl font-bold border-b pb-4 text-darkGrayishBlue">Factory Tracker</h1>
<h2 class="text-4xl">Locations</h2>
@if (User.Identity.IsAuthenticated)
{
  @if (@Model.Count == 0)
  {
    <p class="text-2xl">There are no locations.</p>
  }
  else
  {
    @foreach (Location location in Model)
    {
      <h5 class="text-2xl text-brightRed hover:text-darkGrayishBlue">@Html.ActionLink(@location.Name, "Details", "Locations", new { id = location.LocationId })</h5>
      <div class="flex w-1/2">
        <table class="mx-auto shadow-inner text-center text-lg w-1/2">
          <thead>
            <tr>
              <th class="py-2 font-light">Engineers</th>
            </tr>
          </thead>
          <tbody>
            @if (location.Engineers.Count == 0)
            {
              <td>There are no engineers.</td>
            }
            else
            {
              @foreach (Engineer engineer in location.Engineers)
              {
                <tr class="odd:bg-slate-50 hover:font-semibold">
                  <td class="py-2">@Html.ActionLink(@engineer.Name, "Details", "Engineers", new { id = engineer.EngineerId})</td>
                </tr>
              }
            }
          </tbody>
        </table>
        <table class="mx-auto shadow-inner text-center capitalize text-lg w-1/2">
          <thead>
            <tr>
              <th class="py-2 font-light">Machines</th>
            </tr>
          </thead>
          <tbody>
            @if (location.Machines.Count == 0)
            {
              <td>There are no machines.</td>
            }
            else
            {
              @foreach (Machine machine in location.Machines)
              {
                <tr class="odd:bg-slate-50 hover:font-semibold">
                  <td class="py-2">@Html.ActionLink(@machine.Name, "Details", "Machines", new { id = machine.MachineId})</td>
                </tr>
              }
            }
          </tbody>
        </table>
      </div>
    }
  }
}
else
{
  <p class="text-2xl text-brightRed">Please @Html.ActionLink("log in", "Login", "Account", new {}, new { @class ="text-2xl text-darkGrayishBlue hover:underline hover:text-veryDarkBlue" }) to view or manager locations.</p>
}